.wrapper
  = render "messages/side_bar"
  = render "messages/main_chat"
  -# .side-bar
  -#   .user-name
  -#     .user-name__top-items
  -#       %p.user-name__top-items__name
  -#       %ul.user-name__top-items__menu
  -#         %li
  -#           = link_to "#", class: "a" do
  -#             = icon('fas', 'edit')
  -#           = link_to "#", class: "a" do
  -#             = icon('fas', 'cog')
  -#     .group-list
  -# .chat-main
  -#   .group-info
  -#   .message-list
  -#   .message-form


